html {
  height: 100%;
}

body {
  min-height: 100%;
}

.nav-logo {
  display: flex;
  float: left;
  width: 20%;
  padding-left: 1rem;
  vertical-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.menu {
   display:flex;
}

nav{
    width: 100%;
    font-size: 18px;
    position: sticky;
    position: -webkit-sticky;
    display:flex;
    box-shadow: rgba(0,0,0,.15) 0px 0px 5px;
    background-color: white;
    z-index:1;
    width:100%;
    top: 0;
}

nav > ul {
  display: flex;
  text-align: left;
  height: 30px;
  width:100%;
  font-size:80%;
}

nav ul{
    list-style: none;
    padding:0;
}

nav > ul > li{
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;
  left:0%;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 05%;
   transform: translate(+25%, -50%);
}

li a {
  text-decoration: none;
  color: black;
}

.unfolding > a:after{
  content: "â¯";
  font-size:80%;
  margin-left: 7px;
  display: inline-block;
}

.sub{
  margin-top: 30px;
  width: 60%;
  text-align: left;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  padding-left:5px;
  margin-right:0;
  max-height: 0;
  list-style: none;
}

.sub > li > a{
  height: 30px;
  padding-left: 0;
  width: 90%;
  vertical-align: middle;
  align-items:center;
  text-align:left;
  margin-left:0;
  display: flex;
}


nav > ul > li:hover > a{
    color: grey;
}

.sub > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li:hover > a {
  color: white;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.unfolding:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes unfold {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #4199e1;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 20em;
    border-top: 3px solid #4199e1;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.unfolding:hover > .sub {
  animation: unfold 1s forwards;
}


.ham {
  display:none;
}

.menu2{
  display:none;
}


@media (max-width: 828px)
{

.ham {
  display:block;
  z-index:1;
}

.nav-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left:0;
  width:40%;
  float: none;
  z-index:-2;
  }

.menu {
  display: none;
}

.menu2 {
    display:flex;
    height: 100%; /* 100% Full-height */
    width:0;
    position: fixed; /* Stay in place */
    z-index: -1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: lightgray;
    color: black;
/* Disable horizontal scroll */
    overflow-x: hidden;
    padding-top: 15px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    font-size: 10px;
    opacity: 1;
    box-shadow: rgba(0,0,0,.15) 0px 0px 5px;
}


.main {
    display:flex;
    height: 100%; /* 100% Full-height */
    width:0;
    position: fixed; /* Stay in place */
    z-index: -2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: grey;
/* Disable horizontal scroll */
    overflow-x: hidden;
    padding-top: 15px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    font-size: 10px;
    opacity: 0.9;
    box-shadow: rgba(0,0,0,.15) 0px 0px 5px;
}

.menu2 a {
    padding: 8px 8px 8px 32px;
    width:100%;
    text-decoration: none;
    font-size: 18px;
    background-color: lightgray;
    color: black;
    display: block;
    transition: 0.3s;
    list-style-type: none;
}

/* When you mouse over the navigation links, change their color */
.menu2 a:hover, .offcanvas li:focus{
    color: white;
}

.sub{
  margin-top: 30px;
  width: 100%;
  text-align: left;
  background-color: lightgray;
  border-radius: 2px;
  overflow: hidden;
  padding-left:5px;
  margin-right:0;
  max-height: 0;
  list-style-type: none;
}

@keyframes unfold {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #4199e1;
    border-bottom: 3px solid #4199e1;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 20em;
    border-top: 3px solid #4199e1;
    border-bottom: 3px solid #4199e1;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.sub > li:hover{
    background-color: lightgray;
}


.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    color: #2C3E50;
}

.footer-social-links {
  display: block;
  font-size: 6px;
  text-align: left;
  margin-top:10px;
  margin-right: auto;
  margin-left: auto;
}
.footer-social-links a {
  width: 0%;
  height: 1%;
  line-height: 6px;
  text-align: left;
  display: inline-block;
  color: #2C3E50;
}

.footer-social-links a i,
.footer-social-links a span {
  position: relative;
  top: 2px;
}


.sanssautdeligne { white-space:nowrap; }

.footer-social-links a:hover {
  color: #fff;
}
.footer-social-links a:hover:before {
  background: #2C3E50;
}

.copyright {
    display: block;
    color: #2C3E50;
    width:100%;
    line-height:6px;
    list-style-type: none;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    padding-top: 10px;
}
}
