body {
  font-family: "Quicksand", sans-serif;
}

.container {
  margin: auto;
  max-width: 100%;
  font-family: sans-serif;
}

.heading {
  color: black;
  margin: 5rem 1;
}

.title {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  font-weight: bold;
  width:100%;
}

.para{
  font-size: 12px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width:100%;
}



