.card {
  height: 17rem;
  width: 30rem;
  margin: auto;

  background-color: var(--bg);

  box-sizing: border-box;
  box-shadow: 0 10px 28px rgba(0,0,0,.08);
  border-color: #e9ecef;
  border-radius: 0.25rem;
}

.borders {
  display:flex;
  box-sizing: border-box;
  box-shadow: 0 10px 28px rgba(0,0,0,.08);
  border-color: #e9ecef;
  border-radius: 0.25rem;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-bottom:1em;
  text-align: center;
  align-items: middle;
  align-content:center;
  justify-content: center;
  font-size:0.75rem;
  line-height:1.5rem;
}

.primary {
   display:flex;
   flex-direction:row;
   margin:auto;
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;
   align-items: middle;
   align-content:center;
   float: center;
   width:100%;
   justify-content: center;
}



.container {
  position: relative;
  display: flex;
  flex:-2;
  justify-content: center;
  align-items: middle;
  z-index:0;
  width: 100%;
  height: 70vh;

  margin-top: 0;
  margin-bottom: 0;
}

.card:hover {
  cursor: pointer;
}

.card img {
  height: 15rem;
  width: 10rem;

  object-fit: cover;
  object-position: top;
}


@media (max-width: 828px)
{
  .primary {
   display:flex;
   flex-direction:column;
  }

   .borders{
     display:block;
     column-width: 100%;
     width:300px;
     height:30%;
     float:center;
     color: var(--textNormal);
     text-align: center;
     align-items: middle;
     align-content:center;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-right:auto;
     margin-left:auto;
   }

   .card {
  height: 17rem;
  width: 300px;
  margin: auto;

  background-color: var(--bg);
  font-size: 30%;
  box-sizing: border-box;
  box-shadow: 0 10px 28px rgba(0,0,0,.08);
  border-color: #e9ecef;
  border-radius: 0.25rem;
}

}
