.borders {
  border: solid;
  border-radius: 0.25rem;
  display:flex;
  flex-direction:column;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-right: 0.25em;
  margin-left: 0.25em;
  box-shadow: 0 10px 28px rgba(0,0,0,.08);
  padding: 3;
  border-color: #e9ecef;
}



.primary {
   float: center;
   display:flex;
   flex-direction:row;
   margin: auto;
   text-align: center;
}
