.container {
   margin-right: auto;
   margin-left: auto;
   padding-right: 16;
   padding-left: 16;
   float: center;
   display:flex;
   flex-direction:row;
   margin-top: 15px;
   margin-bottom:15px;
   padding-top: 15px;
   padding-bottom: 15px;
}

.primary {
  column-width: 50%;
  display:flex;
  flex-direction:column;
  margin: auto;
  p {
        margin: auto; /* Important */
        text-align: center;
      }
}

.secondary {
  column-width: 50%;
  display:flex;
  flex-direction:column;
  margin: auto;
  p {
        margin: auto; /* Important */
        text-align: center;
      }

}


