.active {
  color: LightGrey;
  text-decoration: none;
  float: center;
}

.clearfix {
    *display: inline-block;
    height: 1%;
    color: #a7b5c1;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
    color: #a7b5c1;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    color: #a7b5c1;
}

.footer {
    width: 100%;
    display: block;
    float: center;
    color: #a7b5c1;
    overflow: hidden;
    background: #2f353e;
    box-shadow: rgba(0,0,0,.15) 0px 0px 5px;
    -moz-box-shadow: rgba(0,0,0,.15) 0px 0px 5px;
    -webkit-box-shadow: rgba(0,0,0,.15) 0px 0px 5px;
}
.footer-copy {
    float: center;
    color: #a7b5c1;
}

.menu-footer-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: #a7b5c1;
}
.menu-footer {
    display: flex;
    float: center;
}
.menu-footer li {
    display:flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #a7b5c1;
}

.copyright {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    font-size: 12px;
    color: #a7b5c1;
}
.social-icons {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 40px;
    margin-top: 5px;
    float: center;
}

.icon {
  height: 40px;
  width: 40px;
}
